/*sredniki i klamerki*/

/*hero*/
.hero {
    padding-top: 40px;
    padding-bottom: 200px;
    background-image: url("pexels-lisa-fotios-1083822.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

@media (max-width: 1200px) {
    .hero {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

.hero-content {
    max-width: 1300px;
    margin-left: 20px;
    margin-right: 20px;
}

.menu, .menu-item, .menu-link {
    font-size: 18px;
    color: beige;
    list-style: none;
    padding-left: 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: flex-end;
    text-decoration: none
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-heading {
    font-size: 50px;
    font-family: "'Grandstander'", cursive;
    color: beige;
    text-align: center; 
}

@media (max-width: 560px) {
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
  }

  .menu-open {
    display: flex;
  }
}

.menu-button,
.menu-close-button {
  background: transparent;
  border: none;
}

.menu-close-button {
  position: fixed;
  top: 8px;
  right: 24px;
  z-index: 1;
  display: none;
}

.button-open {
  display: block;
}

@media (min-width: 560px) {
  .menu-button,
  .menu-close-button {
    display: none;
  }
}

.menu-link {
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.menu-link:hover {
  color: #e392d8;
  transition: 300ms;
} 

.header-text {
    font-size: 24px;
    line-height: 30px;
    font-family: 'Caveat';
    color: beige;
}

.header-link {
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Grandstander';
    color: beige;
    text-align: center;
}

.header-link:hover {
    color: #e392d8;
    transition: 300ms;
}
/*about*/
.about-image-wrapper {
    position: relative;
    max-width: 400px;
}

@media (max-width: 960px) {
    .about-image-wrapper {
       max-width: 300px;
    }
}
  
.about-image-wrapper::after {
    content: "";
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background: #063806;
    border-radius: 8px;
    z-index: -1;
}
  
.about-image-wrapper::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 30px;
    width: 100%;
    height: 100%;
    background: #e3b4d2;
    border-radius: 8px;
    z-index: -1;
}
.section-about {
    padding-top: 75px;
    padding-bottom: 75px;
    max-width: 1200px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    
}

@media (max-width: 960px) {
    .section-about {
        flex-direction: column;
        justify-content: center;

    }
}

.about-heading {
    font-size: 25px;
    color: #063806;
    font-family: 'Caveat';
}

.about-image {
    border-radius: 10px;
    max-width: 100%;
    max-width: 1500px;
}


.about-text {
    font-size: 20px;
    color: #243119;
    font-family: 'Caveat';
}

/* hobby*/ 

.hobby-name {
    color:#629460;
    font-size: 20px;
    font-family: 'Caveat';
}

.hobby-list {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    list-style: none;
    padding: 0;
}

.hobby-item {
    text-align: center;
}

.hobby-text {
    color: #96BE8C;
    font-size: 16px;
    font-family: 'Caveat';
}

.hobby-icon {
    border: 1px solid #629460;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-hobby {
    background-color:#DDF8DC;
    padding-top: 100px;
    padding-bottom: 100px;
}

.hobby-content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.hobby-heading {
    color: #243119;
    font-size: 25px;
    font-family: 'Caveat';
}

/*photos*/

.section-photos {
    padding-top: 100px;
    padding-bottom: 150px;

}
  
.photos {
    margin-top: 50px;
    gap: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.photos-text {
    font-size: 20px;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(0, 0, 0);
    font-family: 'Caveat'; 
}
  
.photos-heading {
    font-size: 40px;
    color: rgb(0, 0, 0);
    font-family: 'Caveat';
    text-align: center;
}
  
.photos-description {
    font-size: 20px;
}
  
.figure {
    max-width: 30%;
    margin: 0;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
  
.figure-image {
    width: 100%;
    border-radius: 12px;
    object-fit: cover;  
    justify-content: center;  
    cursor: pointer;
    transition: transform 0.3s ease-out;
}
.figure-image:hover {
    transform: scale(1.3);
    z-index: 1;
}
  
.figure-description {
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
    color: #012101;
    font-family: 'Caveat';
}
.div-image {
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: row;
    justify-content: center;
}

/*quote*/

.section-quote{
    text-align: center;
    background-color: bisque;
    padding: 15px;
}

.quote{
    font-family: 'Dancing script';
    font-size: 50px;
}

.quote-autor{
    font-family: 'Caveat';
    font-size: 20px;
}

/*text me*/

.text-me-heading {
    text-align: center;
    font-size: 30px;
    font-family: 'Caveat';
    padding: 1px;
}

.text-me-form {
    text-align: center;
    font-size: 18px;
    font-family: 'Caveat';
    padding: 5px;
}

.text-me-submit {
    text-align: center;
    font-size: 20px;
    font-family: 'Caveat';
    padding: 15px;
}

.footer {
    text-align: center;
    font-size: 20px;
    font-family: ;
    font-style: initial;
    padding: 15px;
    color: black;
}

/* 
button {
  background-color: pink;
  font-size: 20px;
  padding: 20px;
  margin: 20px;
  border: 1px solid red;
  border-radius: 10px;
}
*/
